@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Black Regular'), url('/Gotham-Black.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Gotham Black Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

html,
body,
#app {
  @apply p-0 m-0 h-full;
}
